// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.business-index {
    width: 65%;
    padding-left: 20px;
    padding-top: 20px;
}

.business-listing-link {
    text-decoration: none;
    width: 100%;
    display: flex;
}

.listing-left {
    width: 30%;
}

.listing-right {
    width: 70%;
}

.img-icon {
    height: 200px;
    width: 200px;
    border-radius: 4px;
    object-fit: cover;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20px;
    min-height: 200px;
    max-height: 250px;
    margin-bottom: 10px;
}

.listing-info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    p {
        padding: 10px 6px 10px 0px
    }
}

.listing-btn {
    display: flex;
    width: 100%;
    justify-content: right;
    padding-top: 10px;
    border-top: 1px solid lightgrey;
}

.business-listing {
    max-height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    h2 {
        font-size: 24px;
        color: black;
        font-weight: bold;
    }
    p {
        color: black;
    }
    div {
        color: black;
    }
}

.business-listing:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.search-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.show-header {
    display: flex;
    width: 100%;
    height: 400px;
    color: white;
    justify-content: center;
    background-size: auto 100%;
}

.show-header-text {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.business-show-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.show-body {
    padding-top: 25px;
    display: flex;
    width: 80%;
}

.btn-list {
    display: flex;
    padding-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
}

.show-content {
    display: flex;
    width: 70%;
    flex-direction: column;
}

.show-sidebar {
    display: flex;
    width: 30%;
    padding-left: 25px;
}

.show-info-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
    h2 {
        font-size: 24px;
        font-weight: bold;
    }
    .show-info-right {
        display: flex;
        justify-content: left;
        flex-direction: row;
        width: 50%;
        // .days {
        //     width: 40%;
        // }
        // .hours {
        //     width: 40%;
        // }
    }
    .show-info-left {
        display: flex;
        flex-direction: column;
        width: 50%;
        flex-wrap: wrap;
        justify-content: flex-start;
        .days {
            width: 10px;
        }
        .hours {
            width: 100px;
        }
    }
}

.show-reviews-container {
    display: flex;
    padding-top: 25px;
    flex-wrap: wrap;
    flex-direction: column;
}

.sidebar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    min-height: 100px;
    max-height: 200px;
    align-content: space-around;
    a {
        text-decoration: none;
        font-weight: bold;
        color: #027a97;
    }
    .bottom-border {
        border-bottom: 1px solid #ebebeb;
    }
    .module {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
        width: 90%
    }
}

.show-info-address {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    a {
        text-decoration: none;
        font-weight: bold;
        color: #027a97;
    }
}

.review-sub {
    padding-top: 10px;
    small {
        font-size: 12px;
        color: gray;
    }
}