// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.business-index {
    width: 50%;
    
}
.business-listing-link {
    text-decoration: none;
}

.business-listing {
    padding: 20px;
    border: 1px solid lightgrey;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}