// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.business-index {
    width: 65%;
    padding-left: 20px;
    padding-top: 20px;
}

.business-listing-link {
    text-decoration: none;
    width: 100%;
    display: flex;
}
.listing-left {
    width: 30%;
}

.listing-right {
    width: 70%;
}
.img-icon {
    height: 200px;
    width: 200px;
    border-radius: 4px;
    object-fit: cover;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20px;
    min-height: 200px;
    max-height: 250px;
    margin-bottom: 10px;
}

.listing-info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    p {
        padding: 10px 6px 10px 0px
    }
}

.listing-btn {
    display: flex;
    width: 100%;
    justify-content: right;
    padding-top: 10px;
    border-top: 1px solid lightgrey;
}

.business-listing {
    max-height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    h2 {
        font-size: 24px;
        color: black;
        font-weight: bold;
    }
    p {
        color: black;
    }
    div {
        color: black;
    }
}

.business-listing:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

h3 {
    font-size: 20px;
}

.search-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}