// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-page {
    display: flex;
    flex-wrap: wrap;
}

.wbtn {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
    border: 1px solid;
    font-weight: bold;
    text-align: center;
    user-select: none;
    font-size: 14px;
    line-height: 1.28571em;
    padding: 8px 19px 9px;
    border-radius: 3px;
    color: #fff;
    background: #dc8c24;
    border: 1px solid #dc8c24;
    background-image: none;
    background-repeat: no-repeat;
    transition: all 0.6s;
    transition-property: background-color, background-position, background-size, border-color;
    background-position: 50% 50%;
    background-size: 15000px 15000px;
    a {
        text-decoration: none;
        color: black;
        z-index: 3;
    }
}

.wbtn.black {
    background: #3c3c44;
    border: 1px solid #3c3c44;
}

.wbtn.blue {
    background: #7094b7;
    border: 1px solid #7094b7;
}

.wbtn.gray {
    background: #c6b3b0;
    border: 1px solid #c6b3b0;
}

.wbtn.white {
    background: white;
    border: 1px solid #ebebeb;
}

.signup-form-container {
    padding: 0 18px;
    width: 325px;
    text-align: center;
    padding: 30px;
    h2 {
        font-weight: 900;
        font-size: 24px;
        color: #dc8c24;
    }
}

.hr-line {
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid transparent;
    text-align: center;
    margin: 12px 0;
}

.column {
    display: flex;
    justify-content: right;
    padding: 30px 30px;
    min-height: 1px;
    box-sizing: border-box;
    width: 50%;
}

.above-form {
    display: flex;
    flex-direction: column;
    button {
        margin-top: 15px;
    }
    p {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

.wform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input {
        margin-top: 10px;
    }
    button {
        margin-top: 15px;
    }
    .sub-text-box {
        display: flex;
        justify-content: right;
        margin-top: 5px;
    }
}

.subtle-text {
    font-size: 12px;
    color: gray;
}

legend {
    color: gray;
}

.name-inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#first-name {
    width: 48%;
}

#last-name {
    width: 48%;
}

.img-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    img {
        margin-left: 18px;
        width: 400px;
    }
}