.form-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.form {
    display: flex;
    width: 80%;
    justify-content: center;
    padding: 20px;
}

.inner-form {
    display: flex;
    width: 625px;
    height: 700px;
    flex-direction: column;
    button {
        margin-top: 40px;
        width: 200px;
    }
    h1 {
        font-size: 28px;
    }
}

.form-inputs {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 20px;
    height: 370px;
    textarea {
        border: none;
        resize: none;
        outline: none;
        height: 370px;
    }
}

.rating-selector {
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.stars {
    display: flex;
    background-image: image-url("star_ratings.png");
    background-repeat: no-repeat;
    padding-right: 15px;
}

.stars.zero {
    background-position: 0px 0px;
}
.stars.one {
    background-position: 0px -64px;
}
.stars.two {
    background-position: 0px -128px;
}
.stars.three {
    background-position: 0px -192px;
}
.stars.four {
    background-position: 0px -256px;
}
.stars.five {
    background-position: 0px -288px;
}

.stars.small-zero {
    background-position: 0px -320px;
    margin-top: 8px;
    width: 100%;
    height: 20px;
}
.stars.small-one {
    background-position: 0px -360px;
    margin-top: 8px;
    width: 100%;
    height: 20px;
}
.stars.small-one-half {
    background-position: 0px -340px;
    margin-top: 8px;
    width: 100%;
    height: 20px;
}
.stars.small-two {
    background-position: 0px -400px;
    margin-top: 8px;
    width: 100%;
    height: 20px;
}
.stars.small-two-half {
    background-position: 0px -380px;
    margin-top: 8px;
    width: 100%;
    height: 20px;
}
.stars.small-three {
    background-position: 0px -440px;
    margin-top: 8px;
    width: 100%;
    height: 20px;
}
.stars.small-three-half {
    background-position: 0px -420px;
    margin-top: 8px;
    width: 100%;
    height: 20px;
}
.stars.small-four {
    background-position: 0px -480px;
    margin-top: 8px;
    width: 100%;
    height: 20px;
}
.stars.small-four-half {
    background-position: 0px -460px;
    margin-top: 8px;
    width: 100%;
    height: 20px;
}
.stars.small-five {
    background-position: 0px -500px;
    margin-top: 8px;
    width: 100%;
    height: 20px;
}

.star {
    float: left;
    height: 32px;
    width: 36px;
}

.star-wrapper {
    height: 32px;
    width: 36px;
}

.star-input {
    appearance: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    width: inherit;
}

.recent-reviews {
    padding: 20px;
    height: 100%;
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: 1px solid #ebebeb;
}

