h1 {
    font-size: 42px;
}

.header {
    padding: 10px 30px 30px 30px;
    z-index: 3;
    background-color: white;
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    img {
        padding-top: 10px;
        height: 45px;
    }
}

.login-buttons {
    width: 200px;
    display: flex;
    justify-content: space-between;
}